body {margin:0;
font-family: 'Baskerville';
}

p { color: white;
font-family: 'Baskerville';
font-size: 200px;
text-align: center;
margin: -10px 0px 0px 0px; }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #64313E;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: black;
}

.container {
  float: left;
}
i {
  float: right;
}
 #death3 {
  margin: 0px 0px 0px -43px;
 }
 #shape {
  float: right;
 }

 b {
  margin: 0px 0px 0px 28px;
 }
 span {  margin: 0px 0px 0px 28px;}